# ApePay Demo Merchant Environment Configuration
NEXT_PUBLIC_APEPAY_API_URL=http://localhost:4000
NEXT_PUBLIC_APEPAY_CHECKOUT_URL=http://localhost:3000
NEXT_PUBLIC_MERCHANT_API_KEY=ape_live_769de3548d175ad468df920756399af2fe4f6223669b822b
NEXT_PUBLIC_STORE_URL=http://localhost:3001
APEPAY_WEBHOOK_SECRET=whsec_52953e169b8eef4914e06b1d819afef4f256deead48f0883
NEXT_PUBLIC_APEPAY_WEBHOOK_SECRET=whsec_52953e169b8eef4914e06b1d819afef4f256deead48f0883
